*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 250px;
    text-align: center;
    background-color: rgba(181, 223, 240, 0.814);
}
.container{
    box-shadow:-0px 2px 10px 15px black;
    background-color: white;
    display: inline-block;
    padding: 20px;  
    border-radius: 10px;
}
.inp{
    width: 90%;
    height: 25px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
}
.inp1 {
    background-color: blue;
    color: white;
    width: 200px;
    border: 2px solid #053f8a;
    font-size: 24px;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-top: 8px;
}  
.inp2 {
    background-color:green;
    color: white;
    width: 250px;
    border: 2px solid #053f8a;
    font-size: 24px;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-top: 8px;
}  
